.fit-cover {
  object-fit: cover;
}

.btn {
}

div {
}

a {
  text-decoration: none;
}

div {
}

svg {
}

#preview-github-links {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
}

btn-links {
}

